<template>
  <q-page class="flex flex-center">
    <h2>WELCOME TO NOTEBALLS</h2>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>
