<template>
    <div class="notes flex flex-center q-pa-md row items-start q-gutter-md">
    <q-card style="width: 60%" v-for="index in indexArray" :key="index" class="my-card" flat bordered>
      <q-card-section horizontal>
        <q-card-section class="q-pt-xs" style="width: 100%">
          <div class="text-h5 q-mt-sm q-mb-xs">Title</div>
          <div class="text-grey">
              <q-input
                v-model="text"
                filled
                type="textarea"

              />
          </div>
        </q-card-section>
      </q-card-section>
      <q-separator />
        <q-card-actions align="around">
        <!-- TODO: Add Icons -->
          <ButtonComp title="Delete"></ButtonComp>
          <ButtonComp title="Edit"></ButtonComp>
          <ButtonComp title="Save"></ButtonComp>
        </q-card-actions>
    </q-card>
    </div>
</template>

<script setup>
import { computed } from 'vue'
import ButtonComp from '../components/ButtonComp.vue'

const indexArray = computed(() => [...Array(5).keys()])
</script>
