<template>
  <div class="button-main q-pa-sm">
    <q-btn
      class="is-family-monospace bg-secondary"
      rounded
      no-caps
      :label="props.title"
      :to="props.link"
    >
    </q-btn>
  </div>
</template>

<script setup>
const props = defineProps(['title', 'link'])
</script>
