<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-secondary">
      <div class="container is-max-desktop">
        <q-toolbar >
          <q-toolbar-title class="is-size-4 is-family-monospace">
            Noteballs
          </q-toolbar-title>
          <q-btn
            @click="rightDrawerOpen = !rightDrawerOpen"
            aria-label="Menu"
            dense
            flat
            icon="menu"
            round
          >
          </q-btn>
          <!-- Figure out if there is a way to change color of the dropdowns background -->

        </q-toolbar>
      </div>
    </q-header>
    <q-drawer
      side="right"
      v-model="rightDrawerOpen"
      :show-if-above="false"
      bordered
    >
      <q-list>
        <q-item-label header>
          Navigation
        </q-item-label>
        <ButtonComp v-for="link in linksList" :key="link.title" v-bind="link">
        </ButtonComp>
      </q-list>
    </q-drawer>

    <!-- TODO: Figure out why quasar.variables.scss isnt working. Primary works but light wont. -->
    <q-page-container class="bg-primary">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
  import { ref } from 'vue'
  import ButtonComp from '../components/ButtonComp.vue'
  import EssentialLink from 'components/EssentialLink.vue'

  const rightDrawerOpen = ref(false)

  const linksList = [
    {
      title:'Notes',
      link: '/notes'
    },
    {
      title:'Stats',
      link: '/stats'
    },

  ]
</script>
